<a href="https://colab.research.google.com/github/atharvthakur17/machine-learning/blob/main/complex_boundary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
#comparing score by addding new feature 
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [52]:
x=housing.data
y=housing.target
import pandas as pd

In [62]:
df=pd.DataFrame(x)
housing.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [63]:
df.columns=housing.feature_names
df["popul**2"]=df.Population**2
df["latitude***2"]=df.Latitude**2
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,popul**2,latitude***2
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,2.064000e+04,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,3.314392e+06,1274.191621
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.324852e+07,154.386369
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,9.000000e+00,1058.851600
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,6.193690e+05,1151.244900
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.359556e+06,1173.747600
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.975625e+06,1422.044100
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,1.273205e+09,1759.802500

In [64]:
from sklearn import model_selection
xtrain,xtest,ytrain,ytest=model_selection.train_test_split(x,y)

In [65]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg1.fit(xtrain,ytrain)
ypred=alg1.predict(xtest)
testscore=alg1.score(xtest,ytest)
trainscore=alg1.score(xtrain,ytrain)
print("testscore , trainscore ",testscore,trainscore)

testscore , trainscore  0.6047697397623083 0.6065624745142966

testscore , trainscore without adding new feature  0.6068026905107256 0.6058798502343246

testscore , trainscore by adding population **2         0.5880454263453798 0.6121542164076448