<a href="https://colab.research.google.com/github/atharvthakur17/machine-learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df=iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
print(df.shape)
df.columns=["a","b","c","d","type"]
print(df.head())

(149, 5)
     a    b    c    d         type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.head()

     a    b    c    d         type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.describe()

                a           b           c           d
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [ ]:
print(df.c)
df.isnull().sum()

0      1.4
1      1.3
2      1.5
3      1.4
4      1.7
      ...
144    5.2
145    5.0
146    5.2
147    5.4
148    5.1
Name: c, Length: 149, dtype: float64

a       0
b       0
c       0
d       0
type    0
dtype: int64

In [ ]:
print(df.iloc[1:4,2:3])    #particular data
print(df.head())

     c
1  1.3
2  1.5
3  1.4
     a    b    c    d         type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
print(df.head())
df.drop(0,inplace=True)
df.head()

     a    b    c    d         type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

     a    b    c    d         type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [ ]:
df.drop(1,inplace=True)
df.drop(df.index[0],inplace=True)
df.head()

     a    b    c    d         type
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [ ]:
df[df.a>6]

       a    b    c    d             type
49   7.0  3.2  4.7  1.4  Iris-versicolor
50   6.4  3.2  4.5  1.5  Iris-versicolor
51   6.9  3.1  4.9  1.5  Iris-versicolor
53   6.5  2.8  4.6  1.5  Iris-versicolor
55   6.3  3.3  4.7  1.6  Iris-versicolor
..   ...  ...  ...  ...              ...
143  6.7  3.3  5.7  2.5   Iris-virginica
144  6.7  3.0  5.2  2.3   Iris-virginica
145  6.3  2.5  5.0  1.9   Iris-virginica
146  6.5  3.0  5.2  2.0   Iris-virginica
147  6.2  3.4  5.4  2.3   Iris-virginica

[61 rows x 5 columns]

In [ ]:
df.loc[7]
df.loc[0]=[1,8,9,88,"typenew"]
print(df.head())
df.loc[1]=[1,8,9,88,"typenew"]
df.tail()

     a    b    c     d         type
3  5.0  3.6  1.4   0.2  Iris-setosa
4  5.4  3.9  1.7   0.4  Iris-setosa
5  4.6  3.4  1.4   0.3  Iris-setosa
6  5.0  3.4  1.5   0.2  Iris-setosa
7  1.0  8.0  9.0  88.0      typenew

       a    b    c     d            type
146  6.5  3.0  5.2   2.0  Iris-virginica
147  6.2  3.4  5.4   2.3  Iris-virginica
148  5.9  3.0  5.1   1.8  Iris-virginica
0    1.0  8.0  9.0  88.0         typenew
1    1.0  8.0  9.0  88.0         typenew